<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>piorun.io</title>
</head>
<body>
    <div class="grid">
        <div class="header"><%- include('./partials/header.ejs') %></div>
        <div class="content"><%- include('./partials/content.ejs') %></div>
        <div class="sidebar"><%- include('./partials/sidebar.ejs') %></div>
        <div class="footer"><%- include('./partials/footer.ejs') %></div>
    </div>

</body>
</html>